<section class=new-post-container>
    <h1>Add a new post</h1>
    <%= form_with model: @post, url: user_posts_path do |form| %>
        <%= form.label :title%>
        <%= form.text_field :title%><br>
        <%= form.label :text%>
        <%= form.text_area :text, cols:30, row: 10%><br>
        <%= form.submit "Submit" , class:"new-post-btn"%>
    <% end %>
</section>