<div class="post_spec">
  <span class"header"> <h1> <%= @post.title %> by <%= @user.name %> </h1> <span>Comments: <%= @post.comments.count %> Likes: <%= @post.likesCounter %> </span></span>
  <p> <%= @post.text %> </p>
  <%= render 'shared/comment', comments: @comments %>
</div>