<h3 class="create"><%= link_to 'Add comment to this post', new_user_post_comment_path(user_id: current_user.id, post_id: @post.id) %></h3>
<div class="post_spec">
  <span class="header"> <!-- Add equal sign here -->
    <h1><%= @post.title %> by <%= @post.author.name %></h1>
    <span>Comments: <%= @post.comments.count %> Likes: <%= @post.likes.count %></span>
  </span>
  <p><%= @post.text %></p>
  <div class ="like-delete">
  <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |like| %>
    <%= like.submit "Like", class: "delete" %>
  <% end %>
  <% if @ability.can? :delete, @post %>
  <%= form_with model: @post, url: user_post_path(post_id: @post.id), method: :delete do |f| %>
    <%= f.submit "Delete", class: "delete" %>
  <% end %>
  <% end %>
  </div>
  <%= render 'shared/comment', comments: @comments %>
</div>
